.icon-task{
    color: #E1BEE7;
    font-size: 250px;
    text-align: center;
}

.text-icon{
    color: #fff;
    text-align: center;   
    font-size: 23px;
    margin-top: -80px;
}

.text-icon h4{
    color: #F48FB1;
}